# Server Configuration
APP_PORT=3010
NODE_ENV=development

# Database Configuration
# Use a placeholder for sensitive information like username and password
MONGODB_URI=mongodb+srv://<username>:<password>@<host>/<database>?retryWrites=true&w=majority

# Geocoder Service Configuration
GEOCODER_API_KEY=<your_mapquest_api_key>
GEOCODER_PROVIDER=mapquest

# JWT Configuration
JWT_SECRET=<your_secret>
JWT_EXPIRE=30d
JWT_COOKIE_EXPIRE=30