
# Release workflow for automated semantic versioning.
name: Release

# Trigger workflow on push to main branch.
on:
  push:
    branches:
      - main
  workflow_dispatch:

# Set default permissions for all jobs.
permissions:
  contents: write
  pull-requests: write
  issues: write

jobs:
  # Job 1: Create releases or prs using release-please-action.
  # Note: This job exports an output 'releases_created' to indicate if releases were created.
  release:
    name: Execute
    uses: gucasassi/gh-actions-hub/.github/workflows/release-please.yml@01b7012f3491870bdc84d7845c97bcb17316e9a0
    secrets: inherit

  # Job 2: Build Docker image if release was created in the previous job.
  # Note: This job upload and artifact using upload-artifact action with the pushed image digest.
  build:
    name: Build
    needs: release
    if: needs.release.outputs.prs_created == 'true'
    uses: gucasassi/gh-actions-hub/.github/workflows/docker-build-push.yml@main
    with:
      repository: ${{ github.repository }}
    secrets: inherit
