
# Release workflow for automated semantic versioning.
name: Release

# Trigger workflow on push to main branch.
on:
  push:
    branches:
      - main
  workflow_dispatch:

# Set default permissions for all jobs.
permissions:
  contents: write
  pull-requests: write
  issues: write

jobs:
  # Job 1: Create releases or prs using release-please-action.
  # Note: This job is imported from centralized GH Actions Hub repository.
  release:
    name: Execute
    uses: gucasassi/gh-actions-hub/.github/workflows/release-please.yml@main
    secrets: inherit

  # Job 2: Build Docker image if release was created.
  build:
    name: build
    needs: release
    runs-on: ubuntu-22.04
    if: needs.release.outputs.releases_created == 'true'

    steps:
      # Step 1: Checkout code.
      - name: Checkout
        uses: actions/checkout@v5

      # Step 2: Login to GitHub Container Registry.
      - name: Login to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      # Step 3: Set up Docker Buildx.
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Step 4: Build and push Docker image.
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            "ghcr.io/${{ github.repository }}:${{ needs.release.outputs.tag_name }}"
            "ghcr.io/${{ github.repository }}:latest"
